.home-page {
    overflow-y:auto;
    overflow-x: hidden;
}

.home-info {
    max-height: 100%;
    max-width: 100%;
} 

.home-header-container {
    width:100%;
}


.container {
    display: flex;
    flex-direction: row;
    width:77% !important;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width:77% !important;
    margin: auto;
    background-color: #1d2731;
}

.caseyrock-info{
    padding: 7%;
    display: flex;
    flex-direction: column;
}

.contact-info{
    padding: 7%;
    display: flex;
    flex-direction:row;
    margin: auto;
}

.title {
    text-align: center;
    display: inline-block;
    border-bottom: .1em #d9b310 solid;
    font-size: 5rem;
    color: #eeeeee;
    margin: auto;
}


.text-page{
    padding: 2%;
    color: #eeeeee;
    font-weight: normal;
    font-size: 6rem;
}

.about-container {
    background-size: cover;
    background-color: #1d2731;
    overflow: hidden;
    padding:2%;
}

.data-container {
    background: url('/DataBlueAndYellow.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding:2%;
}

.contact-title{
    text-align: center;
    display: inline-block;
    border-bottom: .1em #d9b310 solid;
    font-size: 5rem;
    color: #eeeeee;
    margin: auto;
}

.CaseyRock-pic{
    height: 30%;
    width: 30%;
    border-radius: 5%;
}


.circle-pic{
    height: 30%;
    width: 30%;
    margin: auto;
}


@media only screen and (max-width: 900px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .CaseyRock-pic{
        margin: auto;
        height: 50%;
        width: 50%;
        border-radius: 5%;
    }

    .contact-title{
        text-align: center;
        display: inline-block;
        border-bottom: .1em #d9b310 solid;
        font-size: 3rem;
        color: #eeeeee;
        margin: auto;
    }
    
}
