
.navContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d2731;
  }

.link {
  display: block;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding:20px;
  float: left;
}

.link:hover {
  /* background-color: #0b3c5d; */
  color:#eeeeee
}

.link:hover:not(.active) {
  background-color: #202e3d;
  color:#eeeeee
}

.active {
  background-color: #0b3c5d;
  color:#eeeeee;
  /* border-bottom: #1d2731 1px solid; */
}

@media all and (max-width:530px) {
  .link {
    padding: 20px 10px 20px 10px;
    font-size: 3vw;
  }
}